<div class="banner">
    <h1><%= @list.name %></h1>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class:'btn-w'%>
    <%= link_to "Back To All Lists", lists_path, class:'btn-w'%>
</div>

<div class="card-container">
  <div class="bm-cards">
    <% @list.bookmarks.each do |bm| %>
        <div class="bm-card">
          <%= image_tag "#{bm.movie.poster_url}"%>
          <div class="bm-info">
            <h2><%= bm.movie.title %></h2>
            <p><%= bm.movie.overview %></p>
            <p><em><%= bm.comment %></em></p>
          </div>
          <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, bookmark_path(bm), data: {turbo_method: :delete} %>
        </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <a href="https://github.com/oliviap103"><i class="fa-brands fa-github"></i></a>
  <p>This website was coded with 💛 by Olivia Patterson</p>
</div>
